<div class="ui-widget-header ui-corner-all">
    <label class="text headerElem">Barco</label>
    <select ng-model="layoutMaster"
            ng-options="opt as opt.label for opt in options" class="headerElem">
    </select>
    <input type="text" ng-model="layoutMaster.text" ng-disabled="!layoutMaster.value" class="headerElem"/>
    <button id="saveBtn" ng-click="saveLayout()">Save</button>
</div>
<div>
    <br/><br/><br/>
    <button id="addBtn" ng-click="addSourceArea()" ng-disabled="!layoutMaster.value">Add Region</button>
    <div class="parent">
        <source ng-repeat="source in layoutMaster.value" source-data="source"/>
    </div>
    <div id="dialogWindow" title="Source Properties" class="ui-widget" jui-dialog jui-options='{
        "dialog": {
            "autoOpen": false,
            "height": 700,
            "width": 700,
            "modal": true,
            "resizable": false,
            "draggable": true
        }
    }'>
        <fieldset>
            <label for="srcType">Source Type: </label>
            <select id="srcType" ng-model="layoutMaster.value[currentId].insertion.type"
                    ng-options="opt as opt.label for opt in srcTypeOptions">
            </select><br/>
            <label for="posX">X:</label>
            <input id="posX" type="text" ng-model="layoutMaster.value[currentId].insertion.posX"><br/>
            <label for="posY">Y:</label>
            <input id="posY" type="text" ng-model="layoutMaster.value[currentId].insertion.posY"><br/>
            <label for="width">Width:</label>
            <input id="width" type="text" ng-model="layoutMaster.value[currentId].insertion.width"><br/>
            <label for="height">Height:</label>
            <input id="height" type="text" ng-model="layoutMaster.value[currentId].insertion.height"><br/>
            <h4>Background Image:</h4>
            <hr>
            <h5>Existing Source Info: </h5>
            <label for="deviceId">Device ID:</label>
            <input id="deviceId" type="text" ng-model="layoutMaster.value[currentId].insertion.sourceRef.deviceId"><br/>
            <label for="channelId">Channel ID:</label>
            <input id="channelId" type="text" ng-model="layoutMaster.value[currentId].insertion.sourceRef.channelId"><br/>
            <h5>OR: </h5>
            <label for="bgImage">Choose Image File:</label>
            <input id="bgImage" type="file" accept="image/*" file-reader><br/>
            <br>
            <h4>Source Border Properties:</h4>
            <hr>
            <label for="borderWt">Border Thickness</label>
            <input id="borderWt" type="text" ng-model="layoutMaster.value[currentId].insertion.border.thickness"><br>
            <label for="borderClr">Border Color:</label>
            <input id="borderClr" type="color" ng-model="layoutMaster.value[currentId].insertion.border.color"><br>
            <label for="borderBlink">Border Blink Speed:</label>
            <select id="borderBlink" ng-model="layoutMaster.value[currentId].insertion.border.blinkSpeed"
                    ng-options="opt as opt.label for opt in blinkSpeedOptions">
            </select><br/>
            <br>
            <h4>Source Annotation Properties:</h4>
            <hr>
            <label for="annText">Text:</label>
            <input id="annText" type="text" ng-model="layoutMaster.value[currentId].insertion.annotation.text"><br/>
            <label for="annSize">Size:</label>
            <input id="annSize" type="text" ng-model="layoutMaster.value[currentId].insertion.annotation.size"><br/>
            <label for="annFntWt">Font Weight:</label>
            <input id="annFntWt" type="text" ng-model="layoutMaster.value[currentId].insertion.annotation.font.wt"><br/>
            <label for="annFntIt">Font Italic:</label>
            <input id="annFntIt" type="text" ng-model="layoutMaster.value[currentId].insertion.annotation.font.italic"><br/>
            <label for="annFntPos">Font Position:</label>
            <select id="annFntPos" ng-model="layoutMaster.value[currentId].insertion.annotation.font.position"
                    ng-options="opt as opt.label for opt in fontPosOptions">
            </select><br/>
            <label for="annFntClr">Font Color:</label>
            <input id="annFntClr" type="color" ng-model="layoutMaster.value[currentId].insertion.annotation.font.color"><br/>
            <label for="annBgClr">Background Color:</label>
            <input id="annBgClr" type="color" ng-model="layoutMaster.value[currentId].insertion.annotation.font.bgColor"><br/>
        </fieldset>
    </div>
</div>