.parent{
    width: 1066px; height:600px;border: 2px solid red;margin:0px;
}

.source{
    width: 200px; height: 200px; background: #eee;
}

.header {
    width: 1066px; background-color: #e9e9e9;
}

.container {
}

.text{
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
    font-weight: lighter;
}